@model string

@{
    var str = ViewData["str"].ToString();
}
<div>
    --------------------------------------------------------------------------------------------------------------------------------------------------
</div>
<div>
    @str
</div>
<div>
    --------------------------------------------------------------------------------------------------------------------------------------------------
</div>
